﻿<%@ Page Title="INDICADORES CALIDAD" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="INDICADORES_CALIDAD._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
         

       <iframe width="1200" height="700" id="FrameC" runat="server"  frameborder="0" allowFullScreen="true"></iframe>


</asp:Content>
