﻿.box h3 {
    text-align: center;
    position: relative;
    top: 20px;
}

.box {
    width: 100%;
    height: 470px;
    background: #dee2e654;
    margin: 7px auto;
}

.boxcre2 {
    width: 100%;
    height: 404px;
    background: #dee2e654;
    margin: 7px auto;
}


.boxDet {
    width: 100%;
    height: 430px;
    background:#fff;
    margin: 8px auto;
    padding:2px;
}
/*==================================================
* Efecto 1
* ===============================================*/
.effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}



.boxCrea {
    width: 100%;
    height: 600px;
    background:#fff;
    margin: 8px auto;
    padding:2px;
}

.ContendDivRegistro {
    border: solid 1px #e9ecef;
    background: #ffff;
    font-family: Segoe UI;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.Contendh3 {
    font-size: 15px;
    font-weight: bold;
    border-bottom: solid 1px #e9ecef;
    padding-bottom: 5px;
    color: #6c757d;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.DivExcel {
    border: solid 1px #e9ecef;
    background: #00ff90;
    font-family: Segoe UI;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


.DivGeneral {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .10rem;
}



.DivDetalle {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.DivColorr {
    color: #fff;
    background-color:#00AD93;
    
}

.DivColor {
    color: #fff;
    background-color:#000000;
    
}

.DivColor3 {
    color: #f8f9fa;
    background-color: #00728f;
    border-color: #f8f9fa;
}

.DivColorA {
    color: #f8f9fa;
    background-color:#0e1f72;
    border-color: #f8f9fa;
}

.Labels {
    font-size: 15px;
    font-weight: bold;
    color:#000000;
    font-family:Arial;
}


.Labels2 {
    font-size: 14px;
    font-weight: bold;
    color:#0e1f72;
    font-family:Arial;
}


.Contencheckin {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius:5px
}


/*Wizard*/
.demo-container .RadWizard {
	padding: 20px;
	border: 1px solid #f34235;
	border-bottom: 0;
	box-shadow: 0 0 0 1px #fff;
}

d_Metro .rgCommandRow a {
    color: #ffffff;
    text-decoration: none;
}

.RadGrid_MetroTouch {
    border-color: #e6e6e6;
    color: #333;
    background-color: #fff
}

    .RadGrid_MetroTouch, .RadGrid_MetroTouch .rgMasterTable, .RadGrid_MetroTouch .rgDetailTable, .RadGrid_MetroTouch .rgGroupPanel table, .RadGrid_MetroTouch .rgCommandRow table, .RadGrid_MetroTouch .rgEditForm table, .RadGrid_MetroTouch .rgPager table {
        font-weight: 100;
        font-size: 16px;
        line-height: 34px;
        font-family: "Segoe UI",Arial,Helvetica,sans-serif
    }

        .RadGrid_MetroTouch .rgInput {
            border-color: #e0e0e0;
            color: #333;
            background-color: #fff
        }

        .RadGrid_MetroTouch .rgHeader:first-child, .RadGrid_MetroTouch th.rgResizeCol:first-child, .RadGrid_MetroTouch .rgFilterRow > td:first-child, .RadGrid_MetroTouch .rgRow > td:first-child, .RadGrid_MetroTouch .rgAltRow > td:first-child {
            border-left-width: 0;
            padding-left: 6px;
        }

        .RadGrid_MetroTouch .rgSave, .RadGrid_MetroTouch .rgUpdate, .RadGrid_MetroTouch .rgCancel, .RadGrid_MetroTouch .rgEdit, .RadGrid_MetroTouch .rgDel, .RadGrid_MetroTouch .rgExpand, .RadGrid_MetroTouch .rgCollapse, .RadGrid_MetroTouch .rgFilter, .RadGrid_MetroTouch .rgAdd, .RadGrid_MetroTouch .rgRefresh, .RadGrid_MetroTouch .rgSortAsc, .RadGrid_MetroTouch .rgSortDesc, .RadGrid_MetroTouch .rgUngroup, .RadGrid_MetroTouch .rgPagePrev, .RadGrid_MetroTouch .rgPageNext, .RadGrid_MetroTouch .rgPageFirst, .RadGrid_MetroTouch .rgPageLast, .RadGrid_MetroTouch .rgPrev span, .RadGrid_MetroTouch .rgNext span {
            background-image: url('WebResource.axd?d=MYQB4HPOxBeA-YKXUmP7Rkf3vPvOlbB9Zp-V4VWOOlUHRly2_c82k1NA66jk8rIxu6-6P1Yp9-gDsmhXeXvy7MX-1ytllzD92tjXR7TGcsQfcPUMbiqDPNAkvLGa0PZsz2S5BgFQ_60v3T-QrEEeAysEF7MUT6-4ZIZqtm9ZXb1Fg2YcH1yY0PY72m2qGz_00&t=636830807040000000');
            width: 21px;
            height: 21px
        }

        .RadGrid_MetroTouch .rgHeader, .RadGrid_MetroTouch th.rgResizeCol, .RadGrid_MetroTouch .rgHeaderWrapper, .RadGrid_MetroTouch .rgMultiHeaderRow th.rgHeader, .RadGrid_MetroTouch .rgMultiHeaderRow th.rgResizeCol {
            border: 0;
            border-bottom: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6
        }

        .RadGrid_MetroTouch .rgHeader, .RadGrid_MetroTouch th.rgResizeCol, .RadGrid_MetroTouch .rgHeaderWrapper {
            background-color: #f5f5f5
        }

        .RadGrid_MetroTouch .rgHeaderDiv {
            border-right: 1px solid #e6e6e6
        }

        .RadGrid_MetroTouch .rgHeaderWrapper {
            border-bottom: 1px solid #e6e6e6
        }

        .RadGrid_MetroTouch th.rgSorted {
            background-color: #25a0da
        }

        .RadGrid_MetroTouch .rgHeader, .RadGrid_MetroTouch .rgHeader a {
            color: #555
        }

        .RadGrid_MetroTouch th.rgSorted, .RadGrid_MetroTouch th.rgSorted a {
            color: #fff
        }

        .RadGrid_MetroTouch .rgRow > td, .RadGrid_MetroTouch .rgAltRow > td {
            border: 0px solid transparent;
        }

        .RadGrid_MetroTouch .rgFooter > td {
            border: 0
        }

        .RadGrid_MetroTouch .rgEditRow > td {
            border-style: solid;
            border-width: 0 0 1px 0;
            border-color: #e7e7e7
        }

        .RadGrid_MetroTouch .rgAltRow {
            background: #f5f5f5
        }

        .RadGrid_MetroTouch td.rgSorted {
            background-color: #f0f0f0;
            border-color: #f0f0f0
        }

        .RadGrid_MetroTouch .rgAltRow td.rgSorted {
            background-color: #e9e9e9;
            border-color: #e9e9e9
        }

        .RadGrid_MetroTouch .rgSelectedRow .rgSorted, .RadGrid_MetroTouch .rgActiveRow .rgSorted, .RadGrid_MetroTouch .rgHoveredRow .rgSorted, .RadGrid_MetroTouch .rgEditRow .rgSorted {
            background-color: transparent;
            border-color: transparent
        }

        .RadGrid_MetroTouch .rgRow a, .RadGrid_MetroTouch .rgAltRow a, .RadGrid_MetroTouch tr.rgEditRow a, .RadGrid_MetroTouch .rgFooter a, .RadGrid_MetroTouch .rgEditForm a {
            color: #333
        }

        .RadGrid_MetroTouch .rgHoveredRow {
            background: #e7e7e7
        }

        .RadGrid_MetroTouch .rgMasterTable .rgSelectedCell, .RadGrid_MetroTouch .rgSelectedRow, .RadGrid_MetroTouch td.rgEditRow .rgSelectedRow, .RadGrid_MetroTouch .rgSelectedRow td.rgSorted {
            color: #fff;
            background: #25a0da;
            border-color: #25a0da
        }

            .RadGrid_MetroTouch .rgSelectedCell a, .RadGrid_MetroTouch .rgSelectedRow a {
                color: #fff
            }

        .RadGrid_MetroTouch .rgMasterTable .rgActiveCell {
            background: #fff;
            color: #333;
            border-color: #25a0da;
            border-right-width: 1px
        }

        .RadGrid_MetroTouch .rgActiveCell a, .RadGrid_MetroTouch .rgActiveRow input {
            color: #333
        }

        .RadGrid_MetroTouch .rgActiveRow > td, .RadGrid_MetroTouch .rgActiveRow td.rgSorted, .RadGrid_MetroTouch .rgSelectedRow > td, .RadGrid_MetroTouch .rgSelectedRow td.rgSorted {
            border-color: #25a0da
        }

        .RadGrid_MetroTouch .rgEditRow > td, .RadGrid_MetroTouch .rgEditRow td.rgSorted {
            border-color: #e6e6e6
        }

        .RadGrid_MetroTouch .rgEditRow {
            background: rgba(230,230,230,0.75);
            color: #333
        }

        .RadGrid_MetroTouch .rgDeletedRow td {
            border-bottom-color: #e6e6e6
        }

        .RadGrid_MetroTouch .rgBatchOverlay {
            background: rgba(230,230,230,0.75)
        }

        .RadGrid_MetroTouch .rgBatchUndoDeleteButton {
            padding: 0 10px 0 0;
            left: 7px;
            border: 1px solid;
            border-color: #e0e0e0;
            color: #000;
            background-color: #f9f9f9
        }

            .RadGrid_MetroTouch .rgBatchUndoDeleteButton:before {
                width: 32px;
                height: 32px;
                vertical-align: -11px;
                background-image: url('WebResource.axd?d=MYQB4HPOxBeA-YKXUmP7Rkf3vPvOlbB9Zp-V4VWOOlUHRly2_c82k1NA66jk8rIxu6-6P1Yp9-gDsmhXeXvy7MX-1ytllzD92tjXR7TGcsQfcPUMbiqDPNAkvLGa0PZsz2S5BgFQ_60v3T-QrEEeAysEF7MUT6-4ZIZqtm9ZXb1Fg2YcH1yY0PY72m2qGz_00&t=636830807040000000');
                background-position: -10px -5960px;
                background-repeat: no-repeat
            }

            .RadGrid_MetroTouch .rgBatchUndoDeleteButton:hover {
                border-color: #cecece;
                color: #000;
                background-color: #e7e7e7
            }

        .RadGrid_MetroTouch .rgDrag {
            background-image: url('WebResource.axd?d=cnWmo5Qve6zY9QA00qgfizLvyHOjFS2s746-YX3xIRuSSkUqc0s_3d8UVXFKve3DpAUfeIebVVDC8LwvjbfeX6LQZDKPHrnK-_OBxxcokh_aYMALaMtBrTT8LqMst7NNpgbyyrBDsmF4-T0NUS1becfS34wgY3i1nt1b0mwAn8k1&t=636830807040000000');
            width: 25px;
            height: 25px
        }

        .RadGrid_MetroTouch div .rgFooterDiv td, .RadGrid_MetroTouch div .rgFooter td {
            background: #fff
        }

        .RadGrid_MetroTouch .rgFooter > td, .RadGrid_MetroTouch .rgFooterWrapper {
            border-top: 1px solid;
            border-color: #999 #e4e4e4
        }

        .RadGrid_MetroTouch .rgPager .rgStatus {
            border: solid;
            border-color: #e6e6e6;
            border-width: 1px 0 0 0
        }

        .RadGrid_MetroTouch .rgStatus div {
            background-image: url('WebResource.axd?d=f3YmMoTH40b_l9oo4Vxsk5xe9G3DCFRYQ59l6RrAByU7CCU6e0XednVDsOx6kitDn-1ItVxEudAv7AOO8STc168WEzPDZ9sgJfIkkLUpJn2k6w51fnAei-aG4MDNTniz78TFXkxpZbB_Scg2rD4avS2H1TyQWhRw2MnjTpNTOYg1&t=636830807040000000');
            width: 40px
        }

        .RadGrid_MetroTouch td.rgPagerCell {
            border: solid;
            border-color: #e6e6e6;
            border-width: 1px 0 0 1px
        }

        .RadGrid_MetroTouch .rgPager > td > table {
            height: 50px
        }

        .RadGrid_MetroTouch .rgPager .riTextBox, * + html .RadGrid_MetroTouch .rgPager .riSingle .riTextBox, * + html .RadForm.RadForm_MetroTouch .RadGrid_MetroTouch .rgPager .riSingle input[type='text'].rfdDecorated {
            height: 29px;
            line-height: 29px
        }

        .RadGrid_MetroTouch .rgPager .riSingle .riTextBox {
            height: 36px
        }

        .RadGrid_MetroTouch .rgInfoPart {
            color: #777
        }

            .RadGrid_MetroTouch .rgInfoPart strong {
                color: #333
            }

        .RadGrid_MetroTouch .rgWrap {
            line-height: 34px
        }

        .RadGrid_MetroTouch .rgPagePrev, .RadGrid_MetroTouch .rgPageNext, .RadGrid_MetroTouch .rgPageFirst, .RadGrid_MetroTouch .rgPageLast {
            border-radius: 100%;
            width: 30px;
            height: 30px;
            border: 1px solid #e6e6e6;
            background-color: #f9f9f9
        }

            .RadGrid_MetroTouch .rgPagePrev:hover, .RadGrid_MetroTouch .rgPageNext:hover, .RadGrid_MetroTouch .rgPageFirst:hover, .RadGrid_MetroTouch .rgPageLast:hover {
                background-color: #e7e7e7
            }

            .RadGrid_MetroTouch .rgPagePrev:active, .RadGrid_MetroTouch .rgPageNext:active, .RadGrid_MetroTouch .rgPageFirst:active, .RadGrid_MetroTouch .rgPageLast:active {
                border-color: #25a0da;
                color: #fff;
                background-color: #25a0da
            }

        .RadGrid_MetroTouch .rgPageFirst {
            background-position: -11px -711px
        }

            .RadGrid_MetroTouch .rgPageFirst:active {
                background-position: -111px -711px
            }

        .RadGrid_MetroTouch .rgPagePrev {
            background-position: -11px -111px
        }

            .RadGrid_MetroTouch .rgPagePrev:active {
                background-position: -111px -111px
            }

        .RadGrid_MetroTouch .rgPageNext {
            background-position: -11px -161px
        }

            .RadGrid_MetroTouch .rgPageNext:active {
                background-position: -111px -161px
            }

        .RadGrid_MetroTouch .rgPageLast {
            background-position: -11px -761px
        }

            .RadGrid_MetroTouch .rgPageLast:active {
                background-position: -111px -761px
            }

        .RadGrid_MetroTouch .rgPager .rgPagerButton {
            border-color: #25a0da;
            background: #25a0da;
            color: #fff;
            height: 36px;
            font-weight: 100;
            font-size: 16px;
            line-height: 34px;
            font-family: "Segoe UI",Arial,Helvetica,sans-serif
        }

        .RadGrid_MetroTouch .rgNumPart a {
            border: 1px solid #fff;
            line-height: 28px;
            min-width: 28px;
            padding: 0;
            color: #333;
            border-radius: 100%;
            text-align: center
        }

        .RadGrid_MetroTouch .rgNumPart span {
            float: none;
            padding: 0
        }

        .RadGrid_MetroTouch .rgNumPart a:hover {
            border-color: #cecece;
            color: #000;
            background-color: #e7e7e7
        }

        .RadGrid_MetroTouch .rgNumPart a.rgCurrentPage, .RadGrid_MetroTouch .rgNumPart a.rgCurrentPage:hover {
            border: 1px solid;
            border-color: #25a0da;
            color: #fff;
            background-color: #25a0da
        }

        .RadGrid_MetroTouch .rgPager .riTextBox {
            vertical-align: top
        }

        .RadGrid_MetroTouch .rgHeader .rgSortAsc, .RadGrid_MetroTouch .rgHeader .rgSortDesc {
            height: 10px;
            float: left;
            margin: 12px 2px 0 0
        }

        .RadGrid_MetroTouch .rgHeader .rgSortAsc {
            background-position: -120px -20px
        }

        .RadGrid_MetroTouch .rgHeader .rgSortDesc {
            background-position: -120px -70px
        }

        .RadGrid_MetroTouch .rgCommandRow .rgPrev, .RadGrid_MetroTouch .rgCommandRow .rgNext {
            padding: 7px 15px;
            line-height: 20px;
            border-color: #e0e0e0;
            color: #000;
            background-color: #f9f9f9;
            margin-right: 10px
        }

            .RadGrid_MetroTouch .rgCommandRow .rgPrev span, .RadGrid_MetroTouch .rgCommandRow .rgNext span {
                width: 10px;
                height: 10px
            }

            .RadGrid_MetroTouch .rgCommandRow .rgPrev.rgDisabled:hover, .RadGrid_MetroTouch .rgCommandRow .rgNext.rgDisabled:hover {
                border-color: #e0e0e0;
                color: #000;
                background-color: #f9f9f9
            }

            .RadGrid_MetroTouch .rgCommandRow .rgPrev:hover, .RadGrid_MetroTouch .rgCommandRow .rgNext:hover {
                border-color: #cecece;
                color: #000;
                background-color: #e7e7e7
            }

        .RadGrid_MetroTouch .rgPrev span {
            margin-right: 15px;
            background-position: -20px -120px
        }

        .RadGrid_MetroTouch .rgNext span {
            margin-left: 15px;
            background-position: -20px -170px
        }

        .RadGrid_MetroTouch .rgFilterRow > td {
            border-bottom: 1px solid #e6e6e6
        }

        .RadGrid_MetroTouch .rgFilter {
            width: 36px;
            height: 36px;
            background-position: -8px -4508px;
            border: 1px solid #e6e6e6
        }

            .RadGrid_MetroTouch .rgFilter:hover {
                background-color: #e7e7e7
            }

        .RadGrid_MetroTouch .rgFiltered, .RadGrid_MetroTouch .rgFiltered:hover {
            background-position: -58px -4508px
        }

        .RadGrid_MetroTouch .rgFilterActive, .RadGrid_MetroTouch .rgFilterActive:hover {
            border-color: #cecece;
            color: #000;
            background-color: #e7e7e7;
            background-position: -108px -4508px
        }

        .RadGrid_MetroTouch .rgFilterBox {
            border-color: #e6e6e6;
            font-weight: 100;
            font-size: 16px;
            line-height: 34px;
            font-family: "Segoe UI",Arial,Helvetica,sans-serif;
            color: #333;
            height: 29px
        }

        .RadGrid_MetroTouch .rgFilterRow .riSingle .riTextBox {
            height: 36px;
            vertical-align: top
        }

        .RadGrid_MetroTouch .rgOptions {
            background: url('WebResource.axd?d=MYQB4HPOxBeA-YKXUmP7Rkf3vPvOlbB9Zp-V4VWOOlUHRly2_c82k1NA66jk8rIxu6-6P1Yp9-gDsmhXeXvy7MX-1ytllzD92tjXR7TGcsQfcPUMbiqDPNAkvLGa0PZsz2S5BgFQ_60v3T-QrEEeAysEF7MUT6-4ZIZqtm9ZXb1Fg2YcH1yY0PY72m2qGz_00&t=636830807040000000') -17.5px -6017.5px no-repeat
        }

        .RadGrid_MetroTouch .rgOptSelected {
            background-position: -67.5px -6017.5px
        }

        .RadGrid_MetroTouch .rgGroupPanel {
            border: 0;
            border-bottom: 1px solid #fff;
            padding: 10px;
            height: 34px
        }

            .RadGrid_MetroTouch .rgGroupPanel, .RadGrid_MetroTouch .rgGroupPanel caption {
                background: #25a0da;
                color: #fff
            }

                .RadGrid_MetroTouch .rgGroupPanel td {
                    border: 0;
                    padding: 3px 4px
                }

                    .RadGrid_MetroTouch .rgGroupPanel td td {
                        padding: 0;
                        color: #fff;
                        line-height: 1px
                    }

                    * + html .RadGrid_MetroTouch .rgGroupPanel td td {
                        line-height: 20px
                    }

                .RadGrid_MetroTouch .rgGroupPanel .rgSortAsc {
                    background-position: -114.5px -14.5px
                }

                .RadGrid_MetroTouch .rgGroupPanel .rgSortDesc {
                    background-position: -114.5px -64.5px
                }

        .RadGrid_MetroTouch .rgUngroup {
            background-position: -114.5px -3364.5px
        }

        .RadGrid_MetroTouch .rgGroupItem {
            border-radius: 100%;
            border: 1px solid #fff;
            color: #fff;
            padding: 0 5px 1px 10px
        }

        .RadGrid_MetroTouch td.rgGroupCol, .RadGrid_MetroTouch td.rgExpandCol {
            border-color: #e7e7e7;
            background: #e7e7e7
        }

        .RadGrid_MetroTouch .rgGroupHeader {
            background: #e7e7e7;
            font-size: 1.1em;
            line-height: 34px;
            color: #333
        }

            .RadGrid_MetroTouch .rgGroupHeader > td {
                padding-left: 8px;
                padding-bottom: 2px;
                border-top: 1px solid #fff
            }

        .RadGrid_MetroTouch .rgExpand {
            background-position: -12px -168px
        }

        .RadGrid_MetroTouch .rgCollapse {
            background-position: -62px -68px
        }

        .RadGrid_MetroTouch .rgEditForm:not(.rgEditPopup) {
            border-bottom: 1px solid #e6e6e6
        }

        .RadGrid_MetroTouch .rgUpdate {
            background-position: -12px -2612px
        }

            .RadGrid_MetroTouch .rgUpdate:active {
                background-position: -112px -2612px
            }

        .RadGrid_MetroTouch .rgCancel {
            background-position: -12px -2812px
        }

            .RadGrid_MetroTouch .rgCancel:active {
                background-position: -112px -2812px
            }

        .RadGrid_MetroTouch .rgDetailTable {
            border-color: #e6e6e6
        }

        .RadGrid_MetroTouch .rgCommandRow {
            background-color: #f9f9f9
        }

            .RadGrid_MetroTouch .rgCommandRow, .RadGrid_MetroTouch .rgCommandRow a {
                color: #000;
                text-decoration: none
            }

        .RadGrid_MetroTouch .rgCommandCell {
            border: 0;
            border-bottom: 1px solid #e6e6e6;
            padding: 0
        }

        .RadGrid_MetroTouch tfoot .rgCommandCell, .RadGrid_MetroTouch .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
            border-top: 1px solid #e6e6e6;
            border-bottom: 0
        }

        .RadGrid_MetroTouch .rgCommandTable td {
            border: 0;
            padding: 2px 7px
        }

        .RadGrid_MetroTouch .rgCommandTable {
            border: 0
        }

        .RadGrid_MetroTouch .rgAdd, .RadGrid_MetroTouch .rgRefresh {
            vertical-align: middle
        }

        .RadGrid_MetroTouch input.rgAdd, .RadGrid_MetroTouch input.rgRefresh, .RadGrid_MetroTouch .rgSave, .RadGrid_MetroTouch .rgCommandRow .rgCancel {
            border-radius: 100%;
            border: 1px solid #e0e0e0;
            margin-right: 3px;
            width: 28px;
            height: 28px
        }

            .RadGrid_MetroTouch input.rgAdd:hover, .RadGrid_MetroTouch input.rgAdd:active, .RadGrid_MetroTouch input.rgRefresh:hover, .RadGrid_MetroTouch input.rgRefresh:active, .RadGrid_MetroTouch .rgSave:hover, .RadGrid_MetroTouch .rgSave:active, .RadGrid_MetroTouch .rgCommandRow .rgCancel:hover, .RadGrid_MetroTouch .rgCommandRow .rgCancel:active {
                border: 1px solid #25a0da
            }

        .RadGrid_MetroTouch input.rgAdd {
            background-position: -112px -3012px
        }

            .RadGrid_MetroTouch input.rgAdd:hover, .RadGrid_MetroTouch input.rgAdd:active {
                background-position: -62px -3012px
            }

        .RadGrid_MetroTouch input.rgRefresh {
            background-position: -112px -1312px
        }

            .RadGrid_MetroTouch input.rgRefresh:hover, .RadGrid_MetroTouch input.rgRefresh:active {
                background-position: -62px -1312px
            }

        .RadGrid_MetroTouch .rgSave {
            background-position: -112px -4962px
        }

            .RadGrid_MetroTouch .rgSave:hover, .RadGrid_MetroTouch .rgSave:active {
                background-position: -62px -4962px
            }

        .RadGrid_MetroTouch .rgCommandRow .rgCancel {
            background-position: -112px -2812px
        }

            .RadGrid_MetroTouch .rgCommandRow .rgCancel:hover, .RadGrid_MetroTouch .rgCommandRow .rgCancel:active {
                background-position: -62px -2812px
            }

        .RadGrid_MetroTouch .rgEdit {
            margin-right: 3px;
            background-position: -12px -3112px
        }

            .RadGrid_MetroTouch .rgEdit:active {
                background-position: -112px -3112px
            }

        .RadGrid_MetroTouch .rgDel {
            margin-right: 3px;
            background-position: -12px -3312px
        }

            .RadGrid_MetroTouch .rgDel:active {
                background-position: -12px -3312px
            }

        .RadGrid_MetroTouch .rgExpXLS, .RadGrid_MetroTouch .rgExpDOC, .RadGrid_MetroTouch .rgExpPDF, .RadGrid_MetroTouch .rgExpCSV {
            background-image: url('WebResource.axd?d=yDWxcIWbgQh4iRAcGgQ_1Ld9Tcwldnonf7KxDpn2Waz_r9E7071Qtn4Ll89mxd8qniBQt4iPenoCTKRsCYTpj072sTdYqNKAf51VXxNq-gdkG0W7MYivHe8IK6DkOPBh42jV_4YHDtpLxVCBKXasv7SG5PvJTNPfEOXaTIb-JvE1&t=636830807040000000')
        }

        .RadGrid_MetroTouch .rgExpXLS {
            background-position: 0 0
        }

        .RadGrid_MetroTouch .rgExpDOC {
            background-position: 0 -50px
        }

        .RadGrid_MetroTouch .rgExpPDF {
            background-position: 0 -100px
        }

        .RadGrid_MetroTouch .rgExpCSV {
            background-position: 0 -150px
        }

.GridContextMenu_MetroTouch .rgHCMClear, .GridContextMenu_MetroTouch .rgHCMFilter {
    height: 36px;
    border-color: #e0e0e0;
    color: #000;
    background-color: #f9f9f9;
    border-radius: 0
}

    .GridContextMenu_MetroTouch .rgHCMClear:hover, .GridContextMenu_MetroTouch .rgHCMFilter:hover {
        border-color: #cecece;
        color: #000;
        background-color: #e7e7e7
    }

.GridContextMenu_MetroTouch .rmGroup .rgHCMItem div.rmText {
    padding: 15px;
    margin: 0 auto
}

.RadMenu_MetroTouch_Context .rgFilterApply, .RadMenu_MetroTouch_Context .rgFilterCancel {
    border-color: #e0e0e0;
    color: #000;
    background-color: #f9f9f9;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 36px
}

div.RadMenu_MetroTouch_Context .rlbGroup {
    border-color: #e6e6e6
}

.GridContextMenu_MetroTouch .rmLeftImage {
    background-image: url('WebResource.axd?d=avnJovdLJQNumBKxZ05LaMsVCoZofa6ai2Ovf_F2J3hwa0lrWo-Jr8lMfY2fuL9tNzYhtwrrNdVs87gD63ZwYbsMvWyRdFIWpM_NDIZplyaXPMQSDIALjIkna4tQpA778LmHlmNg9MTkARn7Z5xJMGtFpqIwKa3zeb-naUwUkXo1&t=636830807040000000')
}

.GridContextMenu_MetroTouch .rgHCMSortAsc .rmLeftImage {
    background-position: 0 0
}

.GridContextMenu_MetroTouch .rgHCMSortDesc .rmLeftImage {
    background-position: 0 -40px
}

.GridContextMenu_MetroTouch .rgHCMUnsort .rmLeftImage {
    background-position: 0 -80px
}

.GridContextMenu_MetroTouch .rgHCMGroup .rmLeftImage {
    background-position: 0 -120px
}

.GridContextMenu_MetroTouch .rgHCMUngroup .rmLeftImage {
    background-position: 0 -160px
}

.GridContextMenu_MetroTouch .rgHCMCols .rmLeftImage {
    background-position: 0 -200px
}

.GridContextMenu_MetroTouch .rgHCMFilter .rmLeftImage {
    background-position: 0 -240px
}

.GridContextMenu_MetroTouch .rgHCMUnfilter .rmLeftImage {
    background-position: 0 -280px
}

.GridReorderTop_MetroTouch, .GridReorderBottom_MetroTouch {
    width: 1px;
    height: 30px;
    margin: 24px 0 0 -2px;
    border-right: 1px solid #808080;
    border-left: 1px solid #808080;
    border-color: rgba(255,255,255,0.5);
    background: #f9f9f9 !important
}

.GridReorderBottom_MetroTouch {
    margin: -24px 0 0 -2px
}

    .GridReorderBottom_MetroTouch:after, .GridReorderTop_MetroTouch:before {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        margin-left: -5px;
        margin-top: -6px;
        background: #f9f9f9;
        border-radius: 100%;
        border: 1px solid #808080;
        border-bottom-width: 0;
        border-color: rgba(255,255,255,0.5)
    }

    .GridReorderBottom_MetroTouch:after {
        border-top-width: 0;
        border-bottom-width: 1px;
        margin-top: 29px
    }

.rgCellSelectorArea_MetroTouch, .GridRowSelector_MetroTouch {
    background: #4c4e54
}

.GridItemDropIndicator_MetroTouch {
    border-top: 1px dashed #666
}

.GridToolTip_MetroTouch {
    border: 1px solid #c98400;
    padding: 3px;
    background: #ffefbd;
    color: #333
}

.RadGridRTL_MetroTouch .rgHeader:first-child, .RadGridRTL_MetroTouch th.rgResizeCol:first-child, .RadGridRTL_MetroTouch .rgFilterRow > td:first-child, .RadGridRTL_MetroTouch .rgRow > td:first-child, .RadGridRTL_MetroTouch .rgAltRow > td:first-child {
    border-left-width: 1px;
    padding-left: 7px
}

.RadGridRTL_MetroTouch .rgPageFirst {
    background-position: -11px -761px
}

    .RadGridRTL_MetroTouch .rgPageFirst:active {
        background-position: -111px -761px
    }

.RadGridRTL_MetroTouch .rgPagePrev {
    background-position: -11px -161px
}

    .RadGridRTL_MetroTouch .rgPagePrev:active {
        background-position: -111px -161px
    }

.RadGridRTL_MetroTouch .rgPageNext {
    background-position: -11px -111px
}

    .RadGridRTL_MetroTouch .rgPageNext:active {
        background-position: -111px -111px
    }

.RadGridRTL_MetroTouch .rgPageLast {
    background-position: -11px -711px
}

    .RadGridRTL_MetroTouch .rgPageLast:active {
        background-position: -111px -711px
    }

.RadGridRTL_MetroTouch .rgExpand {
    background-position: -12px -112px
}